.ChrisRalston .block--content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.ChrisRalston .block--content-full-width {
  margin-left: -32px;
  margin-right: -32px;
}
.ChrisRalston .block--details {
  margin-bottom: 160px;
  margin-top: 100px;
}
.ChrisRalston .block--title {
  max-width: 690px;
}
.ChrisRalston .block--title__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 21px;
}
.ChrisRalston .block--title__body {
  font-size: 16px;
  line-height: 36px;
}
.ChrisRalston .block--details .details-block__row {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  border-bottom: 1px solid #000;
}
.ChrisRalston .block--hero {
  overflow: visible;
  display: flex;
  justify-content: center;
  margin: 0 0 160px 0;
  max-height: 770px;
}
.ChrisRalston .block--hero > img {
  width: auto;
  height: 100%;
}
.ChrisRalston .block--image {
  width: 100%;
  transition: opacity 1500ms ease;
  position: relative;
}
.ChrisRalston .block--image::after {
  content: '';
}
.ChrisRalston .block--image > img {
  width: 100%;
  height: auto;
}
.ChrisRalston .block--image-multi {
  position: relative;
}
.ChrisRalston .block__image--multi {
  width: 100%;
}
.ChrisRalston .block__image--multi-1,
.ChrisRalston .block__image--multi-2,
.ChrisRalston .block__image--multi-3,
.ChrisRalston .block__image--multi-4 {
  position: absolute;
  top: 0;
  left: 0;
}
