@import (reference) '../../shared.less';

.ChrisRalston {
    .block--content {
        // width: 100%;
        .max-width();
        margin-bottom: 80px;
    }

    .block--content-full-width {
        margin-left: -@gutter;
        margin-right: -@gutter;
    }

    .block--details {
        margin-bottom: 160px;
        margin-top: 100px;
    }

    .block--title {
        max-width: 690px;

        &__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 64px;
            margin-bottom: 21px;
        }
        
        &__body {
            font-size: 16px;
            line-height: 36px;
        }
    }

    .block--details {
        .details-block__row  {
            display: flex;
            justify-content: space-between;
            padding: 48px 0;
            border-bottom: 1px solid #000;
        }
    }

    .block--hero {
        overflow: visible;
        display: flex;
        justify-content: center;
        margin: 0 0 160px 0;
        max-height: 770px;

        > img {
            width: auto;
            height: 100%;
        }
    }

    .block--image {
        width: 100%;

        > img {
            width: 100%;
            height: auto;
        }
    }

    .block--image-multi {
        position: relative;
        // width: 100%;
    }

    .block__image--multi {
        // position: relative;
        width: 100%;
    }

    .block__image--multi-1,
    .block__image--multi-2,
    .block__image--multi-3,
    .block__image--multi-4 {
        position: absolute;
        top: 0;
        left: 0;
    }
}
