.block--image {
  width: 100%;
}
.block--image > img {
  width: 100%;
  height: auto;
}
.block__image--multi-1,
.block__image--multi-2,
.block__image--multi-3,
.block__image--multi-4 {
  position: absolute;
  top: 0;
  left: 0;
}
.block--image-multi {
  position: relative;
}
