@import (reference) './shared.less';

@font-face {
    font-family: 'DrukWide-Super-Web';
    src: url(./fonts/DrukWide-Super-Web.ttf) format('truetype');
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url(./fonts/Graphik-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    &.title {
        font-family: 'DrukWide-Super-Web', sans-serif;
    }
}

html {
    min-height: 100%;
    background: @white; // #e3e3e3;
    color: @dark;
    
}
html, body {
    font-family: 'Graphik-Regular', sans-serif;
    font-size: 16px;
}

.ChrisRalston {
    min-height: 100vh;

    .Project-container {
        padding: 0 @gutter 0;
        overflow-x: hidden;
        overflow-y: scroll;
        // perspective: 30px;
        // perspective-origin: top center;
        max-height: 100vh;
        background-color: @white;
    }

    .Project {
        // width: 100%;
        // max-width: @content-max-width;
        // margin: 0 auto;
        // .max-width();
        padding-top: 120px;
        transform-style: preserve-3d;

        &__title-container {
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 20;
            pointer-events: none;
            > * {
                pointer-events: none;
            }
        }

        &__title-wrapper {
            width: 100%;
            height: 100%;
            max-width: @title-wrapper-max-width;;
            margin: 0 auto;
            position: relative;
        }

        &__title {
            font-size: 16px;
            line-height: 32px;
            position: absolute;
            transform: rotate(-90deg);
            transform-origin: top left;
            left: 0;
            bottom: 110px;
            white-space: nowrap;

            &--job {
                color: #AEB5BC;
            }
        }
    }

    // .agro__iphone_1_3 {
    //     transform: translateZ(3px) scale(.73) translateY(-180px);
    // }

    // .agro__iphone_2_3 {
    //     transform: translateZ(7px) scale(.8) translateY(-40px);
    // }

    // .agro__iphone_3_3 {
    //     transform: translateZ(2px) scale(.91) translateY(-40px);
    // }

    .agro__wireframes {
        background-color: #f6f7f8;
        overflow: hidden;
    }

    .agro__desktop {
        overflow: hidden;
    }

    .agro__handphone {
        overflow: hidden;

        // > img {
        //     width: 150%;
        //     transform-origin: bottom left;
        // }
    }
}
