@font-face {
  font-family: 'DrukWide-Super-Web';
  src: url(fonts/DrukWide-Super-Web.ttf) format('truetype');
}
@font-face {
  font-family: 'Graphik-Regular';
  src: url(fonts/Graphik-Regular.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
*.title {
  font-family: 'DrukWide-Super-Web', sans-serif;
}
html {
  min-height: 100%;
  background: #fff;
  color: #171719;
}
html,
body {
  font-family: 'Graphik-Regular', sans-serif;
  font-size: 16px;
}
.ChrisRalston {
  min-height: 100vh;
}
.ChrisRalston .Project-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.ChrisRalston .Project-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scaleX(0.85);
  transform-origin: left;
  background-color: #fff;
}
.ChrisRalston .Project-transition-enter .Project {
  transform: translateX(200px);
  opacity: 0;
}
.ChrisRalston .Project-transition-enter-active .Project {
  transform: none;
  opacity: 1;
  transition: transform 600ms ease 600ms;
  transition-property: opacity, transform;
}
.ChrisRalston .Project-transition-enter-done {
  background-color: #fff;
}
.ChrisRalston .Project-transition-exit .Project {
  opacity: 1;
}
.ChrisRalston .Project-transition-exit-active .Project {
  transform: translateX(-200px);
  opacity: 0;
  transition: transform 600ms ease;
  transition-property: opacity, transform;
}
.ChrisRalston .Project-transition-exit-done {
  opacity: 0;
  transform: scaleX(1);
  transition: transform 600ms cubic-bezier(1, 0, 0, 1);
}
.ChrisRalston .Project-transition-appear .Project {
  transform: translateY(200px);
  opacity: 0;
}
.ChrisRalston .Project-transition-appear-active .Project {
  transform: none;
  opacity: 1;
  transition: transform 600ms cubic-bezier(1, 0, 0, 1) 600ms, opacity 600ms linear 600ms;
}
.ChrisRalston .Project-container {
  padding: 0 32px 0;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh;
}
.ChrisRalston .Project {
  padding-top: 120px;
  transform-style: preserve-3d;
}
.ChrisRalston .Project__title-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  pointer-events: none;
}
.ChrisRalston .Project__title-container > * {
  pointer-events: none;
}
.ChrisRalston .Project__title-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1288px;
  margin: 0 auto;
  position: relative;
}
.ChrisRalston .Project__title {
  font-size: 16px;
  line-height: 32px;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: top left;
  left: 0;
  bottom: 110px;
  white-space: nowrap;
}
.ChrisRalston .Project__title--job {
  color: #AEB5BC;
}
.ChrisRalston .agro__wireframes {
  background-color: #f6f7f8;
  overflow: hidden;
}
.ChrisRalston .agro__desktop {
  overflow: hidden;
}
.ChrisRalston .agro__handphone {
  overflow: hidden;
}
