@import (reference) './shared.less';

@font-face {
    font-family: 'DrukWide-Super-Web';
    src: url(./fonts/DrukWide-Super-Web.ttf) format('truetype');
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url(./fonts/Graphik-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    &.title {
        font-family: 'DrukWide-Super-Web', sans-serif;
    }
}

html {
    min-height: 100%;
    background: @white; // #e3e3e3;
    color: @dark;
    
}
html, body {
    font-family: 'Graphik-Regular', sans-serif;
    font-size: 16px;
}

.ChrisRalston {
    min-height: 100vh;

    .Project-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: @white;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            //opacity: 0;
            transform: scaleX(0);
            transform-origin: right;
            background-color: #fff;
        }
    }
    
    .Project-transition {
        &-enter {
            // .Project {
            //     transform: translateX(600px);
            //     opacity: 0;
            // }
            &::after {
                transform: none;
            }
        }

        &-enter-active {
            // .Project {
            //     transform: none;
            //     opacity: 1;
            //     transition: transform @duration @ease @duration;
            //     transition-property: transform, opacity;
            // }

            &::after {
                transform: scaleX(0);
                transition: transform @duration @ease @duration;
            }
        }

        // &-enter-done {
        //     background-color: @white;
        // }

        &-exit {
            &::after {
                transform: scaleX(0);
            }

            // .Project {
            //     opacity: 1;
            // }
        }
        &-exit-active {
            &::after {
                transform-origin: left;
                transform: scaleX(1);
                transition: transform @duration @ease;
            }

            // .Project {
            //     transform: translateX(-200px);
            //     opacity: 0;
            //     transition: transform @duration ease;
            //     transition-property: opacity, transform;
            // }
        }

        &-exit-done {
            // opacity: 0;
            // display: none;
            // transform: scaleX(1);
            // transition: transform @duration @ease;
            
            // .Project {
                
            // }
        }

        &-appear {
            .Project {
                transform: translateY(200px);
                opacity: 0;
            }
        }
        &-appear-active {
            .Project {
                transform: none;
                opacity: 1;
                transition: transform @duration @ease @duration,
                    opacity @duration linear @duration;
            }
        }
    }

    .Project-container {
        padding: 0 @gutter 0;
        overflow-x: hidden;
        overflow-y: scroll;
        // perspective: 30px;
        // perspective-origin: top center;
        max-height: 100vh;
        // background-color: @white;
    }
    
    .Project {
        // width: 100%;
        // max-width: @content-max-width;
        // margin: 0 auto;
        // .max-width();
        padding-top: 136px; // 120px;
        transform-style: preserve-3d;

        &__title-container {
            width: 100vw;
            height: 100vh;
            position: fixed;
            // z-index: 20;
            pointer-events: none;
            > * {
                pointer-events: none;
            }
        }

        &__title-wrapper {
            width: 100%;
            height: 100%;
            max-width: @title-wrapper-max-width;;
            margin: 0 auto;
            position: relative;
        }

        &__title {
            font-size: 16px;
            line-height: 32px;
            position: absolute;
            transform: rotate(-90deg);
            transform-origin: top left;
            left: 0;
            bottom: 110px;
            white-space: nowrap;

            &--job {
                color: #AEB5BC;
            }
        }
    }
        
    // .agro__iphone_1_3 {
    //     transform: translateZ(3px) scale(.73) translateY(-180px);
    // }

    // .agro__iphone_2_3 {
    //     transform: translateZ(7px) scale(.8) translateY(-40px);
    // }

    // .agro__iphone_3_3 {
    //     transform: translateZ(2px) scale(.91) translateY(-40px);
    // }

    .agro__wireframes {
        background-color: #f6f7f8;
        overflow: hidden;
    }

    .agro__desktop {
        overflow: hidden;
    }

    .agro__handphone {
        overflow: hidden;

        // > img {
        //     width: 150%;
        //     transform-origin: bottom left;
        // }
    }
}
